In [3]:
# Directory
%cd C:\Users\48505\Documents\Python\Notebooks\csv

C:\Users\48505\Documents\Python\Notebooks\csv

In [6]:
# Loading dataset & importing libraries
import pandas as pd 
import numpy as np
df = pd.read_csv("study_performance.csv")
df.head(5)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [30]:
# Cleaning data 
print(df.isna().sum(),"\n------------------------------------")
print(df.describe(),"\n------------------------------------")
print("Student with 0 points in Maths: ")
df.loc[df.math_score == 0]
# Insights:
#   Maximum score is 100 points
#   I'm keeping the outlier because it seems to be a good representation of the characteristics given.

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64
------------------------------------
       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000
------------------------------------
Student with 0 points in Maths:

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
59,female,group C,some high school,free/reduced,none,0,17,10

In [31]:
# Questions to answer:
    # Does parents' level of education affect children's scores? 
    # Is a test preparation course worth taking for better scores?
    # How do men and women perform in each of the subjects? 
    # Are men generally better at maths than women at writing and reading?